<!-- This is a Semantic HTML Change -->
<header>
  <nav>
    <ul>
      <li><a [routerLink]="['/']">Home</a></li>
      <li><a [routerLink]="['/login']">Login</a></li>
      <li><a [routerLink]="['/about']">About</a></li>
      <li><a [routerLink]="['/hero']">Hero</a></li>
      <li><a [routerLink]="['/contact']">Contact</a></li>
    </ul>
  </nav>

  <!-- This is an A11y Change -->
  <div class="hero" role="banner">
    <h1>Personal Budget</h1>
    <h2>A personal-budget management app</h2>
  </div>
</header>
